<h1>{{product.title}}</h1>
<p>{{product.description}}</p>
<p>Precio: {{product.price}}</p>
<p>Categoría: {{product.category}}</p>
<button onclick="addToCart('{{product._id}}')">Agregar al carrito</button>
<script>
  function addToCart(pid) { fetch(`/api/carts/1/product/${pid}`, { method:
  'POST' }) .then(res => res.json()) .then(alert('Agregado al carrito')); }
</script>